@import "tailwindcss";

* {
  font-family: "Inter";
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-blue-600);
}

::-webkit-scrollbar-track {
  background: rgb(233, 233, 233);
}

.loaderIcon {
    animation: spin 1s infinite linear;
}